@charset "gb2312";
/* CSS Document */
#newbarbox *{ margin:0; padding:0; font-family:"ו";}
#newbarbox{width:100%;height:28px; line-height:30px; position:relative;z-index:999; text-align:left;background:#f9f9f9; border-top:1px solid #ddd; border-bottom:1px solid #ddd;clear:both;}
#newbar{width:100%; height:30px; position:absolute;z-index:1000;}
#newbar a:link,#newbar a:visited{color:#444;text-decoration:none}
#newbar a:active,#newbar a:hover{color:#dd4b39;text-decoration:none}
#barbox{width:980px; margin:0 auto; position:relative; z-index:1001;}
#barbox h3{float:left; padding:0 12px 0 30px; background:url(../images/newbar_an.gif) 8px 6px no-repeat; font-weight:normal; font-size:12px;}
#barbox span{font-size:12px; float:left;}
#barbox span a{display:inline-block; margin:0 10px; background:url(../images/newbar_li2.jpg) right 8px no-repeat; padding-right:20px;}
#barbox ul{padding-left:10px; float:left;}
#barbox li{float:left; text-align:center; position:relative; z-index:1000; font-size:12px; list-style:none;}
#barbox li code a{width:60px; height:29px; float:left; overflow:hidden; position:relative; z-index:1000;}
#barbox li code a:link,#barbox li code a:visited{color:#444;text-decoration:none;}
#barbox li code a.daoh_no1{text-decoration:none; font-weight:bold; background:#fdfdfd; border:1px solid #c5c7c9; border-bottom:0; margin-left:-1px; color:#006fbe; line-height:30px; top:-1px;}
#barbox li code a.daoh_no1:link,#barbox li code a.daoh_no1:visited{color:#006fbe;}
#barbox li div{width:260px; float:left; background:#fdfdfd; border:1px solid #c5c7c9; position:absolute; top:28px; z-index:-1; left:-1px; text-align:left; padding:10px 5px 10px 10px; display:none; line-height:28px;}
#barbox li div a{display:inline-block; margin:0 0 0 8px;}
#barbox li.no1 div{border-bottom:2px solid #006fbe;}