@charset "gb2312";
/* CSS Document */
body{font-family:"宋体","Microsoft Yahei",Arial Narrow;font-size:12px; background:#fff; color:#250000}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,span,form,input,textarea,button,code,cite,sup{padding:0; margin:0;}
table{border-spacing: 0; border-collapse: collapse;}
img{border:0;}
ol,ul,li,dl,dt,dd{list-style:none;}   
a{color:#505050;text-decoration:none}
a:hover{color:#980000;text-decoration:underline}
.lt{float:left;}
.rt{float:right;}
.cc:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
.cc {display: inline-block;} /* Hides from IE-mac \*/
* html .cc {height: 1%;}
.cc{display: block;} /* End hide from IE-mac */
.mt5{ margin-top:5px}
.cl{clear:both; overflow:hidden; line-height:0px; font-size:0px; height:0px;}
em,cite{ font-style:normal}
.mt10{ margin-top:10px}
/*标题*/
.addbox{ margin-top:10px;overflow:hidden;}
.wrap,.warp{width:100%; background:url(../images/warp.jpg) no-repeat center top}
h3.t1{ background:url(../images/t.gif); height:35px; font:800 14px/35px ''; color:#fff; padding-left:30px; overflow:hidden; }
h3.t11{ background-position:0px -38px}
h3.t12{ background-position:-305px -38px}
h3.t13{ background-position:0 -78px}
h3.t14{ background-position:-329px -78px}
h3.t15{ background-position:0px -158px}
h3.t16{ background-position:-306px -158px}
h3.t17{ background-position:0 -202px}

h3.t1 a:link,h3.t1 a:visited{ color:#fff}
h3.t1 span{ float:right;  padding-right:10px; display:block;}
h3.t2 span{ float:right;  padding-right:0px; display:block;}
h3.t1 span a,h3.t2 span a{ font-size:12px; font-weight:normal; font-family:'宋体'; padding-right:0px; color:#fff}
h3.t1 code{ font-size:12px; padding:0px 10px; font-family:'宋体';font-weight:normal}
h3.t1 code a{ color:#848693; display:inline-block;width:60px; height:35px;text-align:center; background:url(../images/icon.gif) no-repeat 0px -125px; margin-left:10px;}
h3.t2{ background:url(../images/t2.jpg); height:46px; line-height:35px; padding:0px 30px; font-size:14px; font-weight:normal; color:#fff}
.tt2{ background:url(../images/t.gif) no-repeat 0px -117px; height:35px; line-height:35px; padding:0px 20px 0px 25px; color:#fff}
.tt2 a:link,.tt2 a:visited{ color:#fff}
.tt2 span{ float:right} 
.bd{ border:1px solid #7fc8ff; background:#d3eeff; padding:0px 4px; border-bottom:0px; border-top:none}
.bdbox{ border-left:1px solid #a9deff;border-right:1px solid #a9deff; background:#effafe}
.listbox{ border:1px solid #7fc8ff; background:#effafe; border-top:none}

/* 首页样式 */
#header,#main,#footer{ width:980px; margin:0 auto;overflow:hidden;}
.bt{ background:url(../images/bt.jpg) no-repeat bottom center; width:100%}
.headbox{ background:url(../images/head1.jpg) no-repeat center top; height:60px; position:relative;width:980px; margin:0 auto}
.headbox .top_nav{  background: url('../images/top.png') no-repeat top;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='opfiles/images/top.png'); _background:none; height:26px; position:relative; width:100%; color:#fff; text-align:center;z-index:10} 
.newstop{ position:absolute; left:0px; top:0px;height:26px;width:980px; line-height:26px; color:#fff;z-index:20;text-align:center}
 .newstop a{ padding:0px 5px; color:#fff; line-height:26px}
.newstop  a:link,.newstop  a:visited{ color:#fff}





.menu{ border-top:1px solid #c4e0f6; border-bottom:1px solid #02648c; height:40px; background:#1585db; font:bold 14px/40px ''; color:#fff}
.menu li{ float:left; padding:0px 12px; background:url(../images/line.jpg) no-repeat right;}
.menu li a{ color:#fff}

.nav{ width:980px; float:left}
.nav dl { border-left:1px solid #abe3fa; border-right:1px solid #abe3fa; background:#e2f4fb; width:978px; float:left}
.nav dl dt{ float:left;  width:640px; padding:10px 6px}
.nav dl dt ul li{ width:140px; height:24px; line-height:24px; margin-right:5px; display:inline; padding-left:10px; float:left; background:url(../images/icon2.jpg) no-repeat 0px 8px; overflow:hidden}
.nav dl dd.search{ width:325px; float:right; padding-top:8px;}
.nav dl dd.search .input1{ width:226px; height:23px; line-height:23px; padding:0px 10px; border:1px solid #65acc9; float:left}
.btn1{ background:url(../images/icon.gif) no-repeat 0px 0; width:57px; height:25px; border:none;  cursor:pointer;float:left;margin-left:5px}
.tips{ width:325px; float:left; padding-bottom:4px; padding-top:3px;}
.tips a{ display:inline-block; float:left; padding-left:20px; line-height:22px; height:22px; padding-right:10px}
a.tips1,a.tips2,a.tips3{ background:url(../images/icon.jpg) no-repeat 0px 5px;}
a.tips2{ background-position:0px -25px}
a.tips3{ background-position:0px -58px}
.label{  width:980px; float:left; margin-top:10px;}
.labelbox{ border-left:1px solid #abe3fa; border-right:1px solid #abe3fa; padding:0px 10px; width:958px; float:left; background:#e2f4fb;height:26px; line-height:26px; overflow:hidden;}
.label b{ font-size:12px; font-weight:normal; height:26px; line-height:26px; color:#0d96dd; background:url(../images/icon.jpg) no-repeat 0px -93px; padding-left:20px}


.m1bg{ background:url(../images/m.jpg) no-repeat; width:980px; height:641px; overflow:hidden; margin-top:5px}
.mainbd{ border:1px solid #d2c4c4; padding:5px 9px;}
.w540{ width:540px; float:left; margin:15px 0px 0px 15px; display:inline}
.flash{ width:540px; height:260px; overflow:hidden; float:left; position:relative}
.flash ul li{ width:540px; height:260px; float:left; position:relative}
.flash ul li p{ position:absolute; width:520px; height:40px; font:normal 20px/40px 'Microsoft Yahei'; background:#000; opacity:0.8; -moz-opacity:0.8;filter:alpha(opacity=80); left:0px; bottom:0px; font-size:16px; padding:0px 10px}
.flash ul li p a{ color:#fff }
.num{ position:absolute;width:80px; right:10px; bottom:10px; z-index:999; height:18px}
.num span{ width:13px; height:13px; background:url(../images/icon2.gif) no-repeat -25px 0; display:inline-block; cursor:pointer; float:left;margin-left:6px}
.num span.current{ background-position:0 0}

.w263{ float:left; width:263px}
.newsbox,.mhtj{ border-left:1px solid #bbe2fa;border-right:1px solid #bbe2fa; background:#fff;  float:left; width:261px;}
.newsbox li{ height:23px; line-height:23px; overflow:hidden; padding:0px 10px;  width:241px; float:left}
.newsbox li a{ background:url(../images/icon.jpg) no-repeat 0px -141px; padding-left:10px;}
.newsbox li sup{ color:#f00; font-size:14px; padding-left:10px;}
.newsbox li span{ float:right; color:#999}
.newsbox li cite{ display:inline-block; float:left;width:150px;  height:26px;}
.newsbox1 li{ height:24px; line-height:24px}
.newsbox1 { padding-top:3px;}
.newsbox1 li span a{ background:none}
.bt263{ width:263px; height:4px; overflow:hidden; background:url(../images/picbg.gif) no-repeat 0px -32px}
.bt980{ width:980px; height:11px; overflow:hidden; background:url(../images/picbg.gif) no-repeat 0px -11px}
.bt300{ width:300px; height:10px; overflow:hidden; background:url(../images/picbg.gif) no-repeat -276px -26px}
.bt360{ width:360px; height:10px; overflow:hidden; background:url(../images/picbg.gif) no-repeat -596px -26px}
.bt320{ width:320px; height:10px; overflow:hidden; background:url(../images/picbg.gif) no-repeat 0 -51px}
.bt485{ width:485px; height:10px; overflow:hidden; background:url(../images/picbg.gif) no-repeat -333px -51px}

.mhtj li{ width:75px; padding:4px; height:115px; background:url(../images/picbg.gif) no-repeat -523px -68px; float:left; margin-left:3px; display:inline;}
.mhtj li em{ display:block; width:75px; height:96px; position:relative}
.mhtj li em img{ display:block;width:75px; height:96px;}
.mhtj li em code{ display:block; width:75px; height:20px; bottom:0px; left:0px; opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=90); line-height:20px; text-align:center; color:#fff; position:absolute; background:#000}
.mhtj li em code a{ color:#fff}
.mhtj li p{ padding-left:12px; height:25px; line-height:25px; overflow:hidden}
.w320{ width:340px; float:right; margin-right:10px; display:inline }
.w320 dl{ padding:20px 0 15px 0;}
.w320 dl dt{  color:#0072e7; text-align:center; font:normal 18px/28px 'Microsoft Yahei'; padding:5px 0; height:28px;overflow:hidden}
.w320 dl dt a{ color:#0072e7}
.w320 dl dt a:hover{ color:#a50303}
.w320 dl dd{ text-align:center; line-height:22px; height: 22px; overflow: hidden;} 
.w320 ul{ padding:6px 0; width:340px; background:url(../images/line2.jpg) repeat-x top; float:left}
.w320 ul li{ line-height:26px; height:26px; overflow:hidden; font-size:14px}
.w320 ul li span{ float:right}

.w300{ width:300px; float:left}
.w360{ width:360px; float:right}

.zttj li{ width:210px; padding:6px; float:left; margin:10px 0px 0px 16px; background:url(../images/picbg.gif) no-repeat -287px -68px; display:inline}
.zttj li p{ height:22px; line-height:22px; padding-top:10px; text-align:center; overflow:hidden}
.newslist{ padding:5px 0 0 0}
.newslist li{ height:26px; padding:0px 10px; line-height:26px; overflow:hidden}
.newslist li span{ float:right; color:#999}
.newslist li a{ color:#444}

.tjnr li{ width:160px; float:left; margin:15px 0px 0px 10px; display:inline}
.tjnr li.rnone{ margin-right:0px}
.tjnr li p{ height:20px; line-height:20px; overflow:hidden; text-align:center; padding-top:4px;}


.picbox,.data{ background:#fff6f6; }
.picbox dt{ width:280px; background:url(../images/p.gif) no-repeat; padding:11px; float:left; margin:10px 0px 0px 10px; display:inline}
.picbox dt p,.picbox dd span p{ line-height:18px; height:18px; padding-top:16px; overflow:hidden; text-align:center;}
.picbox dd{ float:right; width:640px}
.picbox dd span{ display:block; width:120px; padding:5px 5px 0px 5px; background:url(../images/picbg.gif) no-repeat -146px -68px; float:left; margin:10px 0px 0px 25px; display:inline}

.singer{ width:320px; float:left}
.w485{ float:left; width:485px;}
.sgpic li{ width:120px; padding:5px; background:url(../images/picbg.gif) no-repeat 0px -68px;  float:left; margin:10px 0px 0px 20px; display:inline}
.sgpic li p{ line-height:18px; height:18px; padding-top:5px; overflow:hidden; text-align:center;}

.data{ padding:0px 10px; width:948px; float:left}
.data_tab{background:url(../images/m1.jpg) no-repeat; overflow:hidden; line-height:34px; height:34px; margin-top:15px}
.data_tab span{float:right; padding-right:10px}
.data_tab li{ height:30px; line-height:30px; margin-top:4px; text-align:center; padding:0px 10px;  margin-left:15px; float:left;text-align:center; cursor:pointer; }
.data_tab li.current{ border:1px solid #51b1e7; border-bottom:none; background:#fff; color:#0259a3 } 
.databox{ padding-bottom:10px;}
.databox a{ display:block; width:105px; height:24px; line-height:24px;  background:url(../images/icon.gif) no-repeat 0px -31px; color:#250000; text-align:center; overflow:hidden;  float:left; margin:15px 0px 0px 45px;}
.databox a:hover{ background-position:0px -61px}
.bttop{ background:url(../images/picbg.gif); width:980px; height:10px; overflow:hidden;}
.friend{ line-height:25px; padding:0px 25px; color:#444}
.friend a{padding:0px 10px; color:#444}
.friend b{ font-weight:normal; color:#0259a3; }
.btmenu{ line-height:25px; text-align:center; color:#7b7b7b; padding-top:20px}
.btmenu a:link,.btmenu a:visited{ color:#7b7b7b}

 
/*分页代码*/

.page{margin:20px auto;text-align:center; font-size:14px;}
.page a{border:1px solid #168ee9;height:20px; background:#168ee9; line-height:20px; padding:4px 8px 2px; display:inline-block; margin-left:3px; color:#fff;}
.page a:hover{background:#168ee9; color:#fff; text-decoration:none;border:1px solid #02406f;  }
.pageinput1{width:36px; border:1px solid #168ee9; padding:4px 0 2px; line-height:20px; height:20px; text-align:center; background:#fff; margin-right:3px;}
.page_sx{border-top:1px dotted #1c0000; color:#d9dbea; margin-top:15px; padding:15px 0;}
.page_sx li{width:300px; float:left; line-height:26px; height:26px; overflow:hidden; padding-left:14px;}
.page_sx a:link,.page_sx a:visited{color:#fff;}
.page_sx a:active,.page_sx a:hover{color:#fff;text-decoration:underline;}


/*文章列表页左右*/
.sidebar{ width:300px; float:right; margin-top:10px}
.nypic li{ width:210px;background:url(../images/picbg.gif) no-repeat -287px -68px; padding:6px;  float:left; margin:10px 0px 0px 40px; display:inline}
.nypic li img{ display:block; width:210px; border:1px solid #d2c4c4}
.nypic li p,.spic li p,.zbpic li p{ height:22px; line-height:22px; padding:3px 0; overflow:hidden; text-align:center}
.spic li{ float:left;width:120px; padding:5px 5px 0px 5px; background:url(../images/picbg.gif) no-repeat -146px -68px;  margin:10px 0px 0px 13px; display:inline}
.spic2 li{ margin-left:20px;}
.pic1 li{ margin-left:28px;}
.content{ width:670px; float:left}
.zbpic li{ width:140px; float:left; margin:10px 0px 0px 5px; display:inline}
.rank{ padding:10px 0}
.rank li{ height:25px; line-height:25px; overflow:hidden; padding:0px 10px}
.rank li.top3 code{ background-position:0px 0px;}
.rank li code{ background:url(../images/num.jpg) no-repeat 0px -25px;display:block; width:20px; height:15px; color:#fff; text-align:center;  line-height:15px; float:left; margin-top:5px; margin-right:5px} 
.list_tab li{ width:80px; height:25px; line-height:25px; overflow:hidden; text-align:center; cursor:pointer; float:left; background:url(../images/icon.gif) -61px 0px; margin:10px 0px 0px 12px; display:inline}
.list_tab li.current{ color:#a50303}
.list_tab {  float:left; width:660px; padding-bottom:10px}
.list{ width:648px; padding:10px 10px; float:left}
.list li{  font-size:14px; float:left; width:608px; padding:0px 15px; line-height:26px; height:26px; overflow:hidden}
.list li span{ float:right; color:#999}
.list li  a{ color:#444}
.list li  a:hover{ color:#0074d6}
.list li#line{ border-bottom:1px dashed #250000; height:1px; line-height:1px; overflow:hidden; margin:15px 0px; float:left; width:618px;}
/*资料文章显示页*/
.show{ padding:10px}
.show h2{ text-align:center; font:normal 20px/30px '微软雅黑'; color:#250000; padding:5px 0; }
.show h2 a:link,show h2 a:visited{ color:#250000}
.msg{ line-height:37px; height:37px; border-bottom:1px solid #d7d4d3;}
.msg .m_left{float:left; color:#515151}
.msg .m_left a:link,.msg .m_left a:vistied{ color:#515151}
.m_right{ float:right}
.m_right em{ display:block; float:right; width:62px; color:#e84200; text-align:center}
.m_right em a:link,.m_right em a:visited{ color:#e84200}
.m_right em a:hover{ color:#D35903}
.showbox{ padding:20px 0px 0px; line-height:26px; font-size:14px;clear:both; color:#250000}
.showbox img{  cursor:pointer}
.copy{ height:25px; text-align:right; line-height:25px; color:#302b26; }
.pingnews{ margin-top:10px;} 
.pag li{ display:inline-block; width:50%; height:25px; line-height:25px; float:left; border-top:1px dashed #250000; padding-top:10px}
.relative{ padding:10px 0;}
.relative li{ width:303px; float:left; height:23px; line-height:23px; overflow:hidden; color:#250000; padding-left:20px}
.relative li span{ float:right}






/*资料列表页*/
#data{width:938px; border-top:none; list-style: none; text-align: left; padding:20px; float:left}
#data h2{  width:102px; margin-bottom:10px; height:29px;  font:normal 14px/29px '';text-align:center; background:url(../images/icon.gif) no-repeat 0px -92px;  float:left;text-align:center; cursor:pointer; color:#fff}
#data h2 a{ color:#250000}
#data ul{ float:left; width:780px;  margin-bottom:10px;min-height:39px;}
#data ul li{ float:left; line-height:23px;white-space:nowrap; padding:0px 10px;}

a#bg_link{width:100%;height:580px; position:fixed; top:38px; left:0; display:none;}
.zxlist { width:978px; float:left; padding:20px 0}
.zxlist li{ width:120px; height:24px; line-height:24px; float:left; }
.cartn{ padding:20px; width:938px; float:left}
.mh_left{ width:120px; height:160px; float:left; margin-right:20px; display:inline}
.mh_info_right{ line-height:24px;}
.mh_name{ width:908px; float:left; margin:15px 0; display:inline; background:#e3e3e3; height:30px; line-height:30px; padding-left:30px;}
.mh_list_li  li{width:130px; float:left; height:25px; line-height:25px; overflow:hidden; padding-left:22px;}
.mh_list_li li em{color:#f00}


/*资料展示页*/
#lev1,#lev2 {
	/* 这里定义上级按钮样式 */
	float:left;
	display:inline
}
#lev1 ul,#lev2 ul{
	margin:20px 0px 0px 0px;
	padding:0px;
	text-align:center;
	float:left;
}
#lev1 li,#lev2 li {
	float:left;
	height:25px;
	width:127px;
	margin:5px 15px;
	color:#ff6600;
	line-height:25px;
}
#lev1 li{background:url(../images/lev_over.jpg); font-weight:bold}
#lev1 li A:link,#lev1 li A:visited {
	/* 链接样式 */
	overflow:hidden;
	text-decoration:none;
	font-weight:normal;
	display:block;
	background:#efefef;                /* 背景颜色 */
	color:#000;                        /* 字体颜色 */
	width:127px;
	height:25px; line-height:25px;
	text-align:center;
	background:url(../images/lev1.jpg)
}
#lev2 li A:link,#lev2 li A:visited {
	/* 链接样式 */
	overflow:hidden;
	text-decoration:none;
	font-weight:normal;
	display:block;
	background:#efefef;                /* 背景颜色 */
	color:#0071c7;                        /* 字体颜色 */
	width:127px;
	height:25px; line-height:25px;
	text-align:center;
	background:url(../images/lev2_over.jpg)
}
#lev2 li.current A:link,#lev2 li.current A:visited,#lev2 li.current A:hover,#lev2 li.current A:active{
	background:url(../images/lev1.jpg);
	color:#ff6600;
	font-weight:bold
	}
#lev2 li A:hover,#lev2 li A:active {
	background:url(../images/lev2_over.jpg);
	color:#ff6600;
	font-weight:bold
}


#lev1 li A:hover,#lev1 li A:active {
	background:url(../images/lev_over.jpg);
	color:#ff6600;
	font-weight:bold
}


/*add 资料显示页*/
.addMh{ border:1px solid #7dc8ff; background:#d2edff; padding:9px; width:550px; float:left; margin-top:10px;}
.addtit{ background:url(../images/addmh.jpg); height:37px; font-size:14px; color:#fff; line-height:37px;}
.addtit span{ width:240px; padding-left:35px; display:block; float:left}
.addtit  span a{ color:#fff}
.addMainbox{ background:#fff;}
.addMainbox dl{ padding:15px; width:245px; float:left}
.addMainbox dl dt{ text-align:center; font-weight:bold; line-height:20px; padding-bottom:10px;}
.addMainbox dl dt a{ color:#000}
.addMainbox dl dt a sup{ color:#f00; padding-left:8px} 
.addMainbox dl dd{ line-height:24px; height:24px; overflow:hidden}
.addMainbox dl dd a{ color:#444}
.addMainbox a:hover{ color:#980000}
.addRightbar{ width:400px; float:right; margin-top:10px;}
.addRightbar dl{ border:1px solid #7dc8ff;background:#d2edff; padding:9px;}
.addRightbar dl dt{ background:#fff; text-align:center}
.addRightbar dl dt b{ font-size:16px; line-height:35px; text-align:center}
.addRightbar dl dt b a{ color:#f00}
.addRightbar dl dt p{ font-size:12px;}
.addRightbar ul{ border:1px solid #bbe2fa; border-top:none; background:#fff; padding:7px 0}
.addRightbar ul li{ padding:0px 15px; height:26px; line-height:26px; font-size:14px; color:#444; overflow:hidden}
.addRightbar ul li span{ float:right} 
.addRightbar li em{ display:block; float:right; text-align:right; font-weight:bold;}
.addRightbar em a{ color:#f00}
.addhot{ border:1px solid #7dc8ff; padding:9px; background:#d2edff; margin-top:10px;}
.addhotInner{ border:1px solid #a7dfff; background:#fff; padding-bottom:7px;}
.addhotLeft{ width:660px; float:left; margin:9px; display:inline;}
.addtit2{ background:url(../images/addtit2.jpg); height:36px; line-height:36px; font-size:14px; color:#fff; padding:0px 15px 0 35px}
.addtit2 span{ float:right; cursor:pointer}
.addhotbox{ background:#e2f4fb; padding-bottom:10px;}
.addhotbox ul li{ margin:12px 0 0 10px; display:inline;  float:left; position:relative; width:120px;}
.addhotbox ul li img{width:110px; height:140px; border:1px solid #bbe2fa; padding:4px; background:#fff;}
.addhotbox ul li p{ background:rgba(0,0,0,0.8); height:20px; line-height:20px; position:absolute; width:110px; left:4px; top:125px; text-align:center}
.addhotbox ul li em{ display:block; height:22px; line-height:22px; text-align:center; overflow:hidden; color:#444}
.addhotbox ul li a{ color:#fff; text-align:center}
.addhotbox ul li em a{ color:#444}

/*星期更新*/
.addweek{ width:280px; margin-top:10px; float:left}
.weeks{ width:280px; }
.weekItem{width:280px;height:36px;}
.weekItem li{float:left;height:36px;width:40px;line-height:36px;text-align:center;cursor:pointer;overflow:hidden;}
.weekItem li.on{background:url(../images/cur.jpg);color:#fff;}
.box01_c{width:280px;height:187px; margin-top:10px;position:relative;overflow:auto;}
.box01_c dl{background:url("../images/weeksbg.png") no-repeat;padding:0 20px 10px 15px;line-height:26px;}
.box01_c dl dt{color:#999;}
.box01_c dl dd{height:26px;overflow:hidden;}
.box01_c dl dd a{color:#282828;}
.box01_c dl dd span{float:right;color:#666;}
.box01_c dl dd span.today{color:#f00;}