
a {
	color: #111866
}

a:visited {
	color: #777
}

a:active, a:link, a:visited {
	text-decoration: none
}

a:hover {
	color: #900;
	text-decoration: none
}

content li, ul {
	padding: 0;
	vertical-align: baseline;
	list-style: none;
	list-style-position: outside;
	line-height: 160%
}

.pure-g {
	margin: 0 auto;
	max-width: 1200px;
	letter-spacing: normal
}
.pure-menu.pure-menu-horizontal li .pure-menu-children, .pure-menu.pure-menu-open
	{
	text-align: left;
	height: 150px;
	background: 0 0;
	_width: expression(( document.documentElement.clientWidth ||
		document.body.clientWidth)>1023?"1024px":"")
}

.pure-menu .pure-menu-heading, .pure-menu a {
	padding: 0
}

.pure-menu li a {
	padding: 15px 8px;
	font-weight: 600
}
#content, #homehot, #homenews, #homepic, #me, #mhnew, #new, #news,
	#newsa, #newtop, #shoulu, #xinpinglun {
	margin: 3px;
	margin-top: 10px;
	text-align: left;
	position: relative;
	box-shadow: 1px 1px 10px #ddd;
	border-radius: 10px;
	overflow: hidden;
	*float: none;
	border: 1px solid #ccc
}

#content li, #homenews li, #me li, #mhnew li, #new li, #news li, #newsa li,
	#newtop li, #shoulu li {
	margin: 0 0 0 3px
}

h2 {
	background-repeat: no-repeat;
	margin: 5px 0;
	border-bottom: 1px solid #ccc;
	font-size: 22px;
	text-align: center;
	color: #f50
}

h1, h2, h3 {
	text-shadow: 1px 1px 1px #333
}

h2 a:active, h2 a:link, h2 a:visited {
	color: #f50
}


#content, #share {
	text-align: center
}


#content {
	width: 99%
}

#content li {
	text-align: center;
	float: left;
	*float: none;
	line-height: 30px;
	margin: 0
}

.navigation a {
	margin: 1px;
	border-radius: 5px
}

.navigation a:visited {
	color: #fff
}

#mhpic {
	border: 2px solid #111;
	padding: 2px;
	border-radius: 10px
}

h1 {
	text-shadow: 2px 2px 2px #888
}

form {
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
	border-radius: 5px;
	margin: 3px
}

form label {
	margin: 10px;
	padding: 5px;
	font-size: 16px
}

input {
	padding: 6px;
	border: 1px solid #ccc
}