.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	width:4px;
	
}
.jScrollPaneDrag {
	position: absolute;
	background:#959595;
	border-radius:6px;
	-webkit-border-radius:6px;
	height:48px!important;
	width:4px!important;
}

a.jScrollArrowUp{
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	height: 1px;
}
a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 1px;
}
.scroll-pane {
	width: 200px;
	background: #ccc;
	float: left;
}

#pane{
	height: 290px;
	overflow-y:scroll; 
}